body {
    background-color: #607d8b;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: white;
}

img {
  max-width: 15%;
  height: auto;
  border-radius: 25px;
}

audio {
  border-radius: 25px;
}
