<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="static/style.css" rel="stylesheet">
        <title>Music Discovery</title>
    </head>
    <body>
        <h1> Welcome </h1>
        <h2> Looking for a tune?</h2>
        <h2> Try this! </h2>
        <img src={{ song_image }}  alt="Album Cover"/>
        <h3>
            <audio controls="controls" src={{ song_preview }} >
            Your browser does not support the HTML5 audio element.
            </audio>
        </h3>
        <h3> {{ song_name }} </h3>
        <h3> by {{ song_artist }} </h3>
        <h3> Check out the <a href={{ song_lyrics }} target="_blank" rel="noopener noreferrer">lyrics</a>!</h3>
    </body>
</html>